.DS_Store
.vscode
*.gram
/librime-lua
/assets/gendict/target
/assets/gendict_LL/target
/deploy/gen_ll
/deploy/tmp
/schemas/ll/build
/schemas/ll/大竹_*.txt
/schemas/ll/跟打词提.txt
/schemas/ll/installation.yaml
/schemas/ll/default.custom.yaml
/schemas/ll/LL.custom.yaml
/schemas/ll/user.yaml
/schemas/ll/sync
/schemas/ll/lua/chars_cand.userdb
/schemas/ll/*.userdb
/schemas/ll/*.userdb.bak
/schemas/ll/dicts/*.userdb
/schemas/ll/LL.txt
/schemas/ll/speed_stats.conf
/schemas/ll/squirrel.yaml
/schemas/ll/weasel.yaml
/schemas/ll/weasel.custom.yaml
/schemas/releases
